@import "tailwindcss";
.tint {
  background: #00000052;
}
body {
  font-family: "Inter", sans-serif;
  
}
.tint1 {
  background: #09053691;
}

.glass {
  background: rgba(255,255,255,0.25);
  border-radius: 1.5rem;
  border: 1px solid rgba(255,255,255,0.4);
  box-shadow: 0 4px 32px rgba(0,0,0,0.12);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}
